html {
    padding: 0;
    margin: 0;
    font-size: 18px;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Noto Color Emoji', sans-serif;
    font-family: 'Roboto', sans-serif;
}

body {
    padding: 0;
    margin: 0;
}

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: auto;
}

.col {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
}

.col-2 {
    display: flex;
    flex-direction: column;
    flex-basis: 20%;
    flex: .2;
}

.col-25 {
    display: flex;
    flex-direction: column;
    flex-basis: 25%;
    flex: .25;
}

.col-4 {
    display: flex;
    flex-direction: column;
    flex-basis: 40%;
    flex: .4;
}

.col-6 {
    display: flex;
    flex-direction: column;
    flex-basis: 60%;
    flex: .6;
}

.col-75 {
    display: flex;
    flex-direction: column;
    flex-basis: 75%;
    flex: .75;
}

.header {
    width: auto;
    color: white;
    background-color: #4267B2;
    padding: 10px;
}

.logo-text {
    font-weight: 900;
    font-size: 50px;
    color: white;
    padding: 10px;
    margin: 0;
}

.intro {
    margin: 0 40px 50px;
}

.intro-text {
    font-weight: 900;
    font-size: 32px;
    color: #204287;
    margin: 0 0 20px;
}

.intro-img {
    width: 80%;
    height: auto;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

label {
    margin-right: 10px;
}

.label-col {
    text-align: right;
}

.input-col {
    text-align: left;
    width: 100%;
}

select {
    width: 100px;
    margin-right: 5px;
}

.caption-text p {
    margin: 0;
}

.caption-text a {
    text-decoration: none;
}

.signup-btn {
    padding: 5px;
    color: white;
    background-color: green;
    width: 150px;
}

.form-intro h2 {
    font-size: 32px;
    font-weight: bold;
    color: #4267B2;
    margin: 0;
}

.form-intro p {
    font-size: 19px;
    font-weight: 500;
    color: #30487c;
    margin: 8px 0;
}

.form-row {
    margin: 10px;
    text-align: center;
}

hr {
    margin: 10px 0;
    color: black;
    background-color: black;
}

.signup-form hr {
    margin: 20px 0;
}

.forgot-pass-link {
    margin-top: 10px;
}

.forgot-pass-link a {
    color: white;
    text-decoration: none;
}

.stay-logged-in-row {
    margin-top: 10px;
}

.page-body {
    margin: 50px;
}

.login-btn {
    padding: 3px;
    margin-top: 23px;
    color: white;
    background-color: #4267B2;
}

.login-col {
    margin-right: 10px;
}

.main-content {
    background-color: #EEF5FF;
    margin: 10px;
}

footer {
    padding: 10px;
}

.languages {
    font-size: 15px;
    font-weight: 600;
    color: #4267B2;
    margin-top: -60px;
    margin-bottom: -20px;
}

.languages ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
}

.languages li {
    margin: 0 10px;
}

.languages li a {
    text-decoration: none;
    /* color: #4267B2; */
}

.create-page-link {
    text-decoration: none;
}